body {
  margin: 0;
  background-color: #36393e;
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  font-size: 250%;
}

#lineDrawing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}