body {
  margin: 3px;
  background-color: #000;
  color: #0f0;
  font-family: 'Consolas';
  font-size: 15px;
}

#consoleInput {
  width: 100%;
  background-color: #000;
  color: #0f0;
  font-family: 'Consolas';
  box-sizing : border-box;
  border: none;
}

#consoleInput:focus {outline:0;}

.input {
  display: flex;
}

#linestart {
  margin-right: .5em;
}

#console {
  margin: 0;
}
