body {
  margin: 0;
  background-color: #36393e;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 40px auto 40px;
  grid-template-rows: auto 50% auto;
  height: 100vh;
}

.item {
  grid-column: 2;
  grid-row: 2;
}

#lineDrawing {
  margin-top: auto;
  margin-bottom: auto;
}