/* Font import */
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif;
  color: #fefefe;
  background-color: #212121;
  margin: 0;
}

#message {
  display: inline-block;
}

#videoPlayer {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

input[type="range"] {
  margin: 0;
  width: 100%;
  -webkit-appearance: none;
  height: 5px;
  background: #c2c2c2;
  outline: none;
  opacity: 0.5;
  transition: all .2s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4cb33e;
  transition: all .2s;
}

input[type="range"]:hover {
  opacity: 1;
  height: 10px;
}


.container {
  display: grid;
  grid-template-columns: 2% auto 2%;
  grid-template-rows: 2% auto 25px 50px;
  height: 100vh;
}

.info {color: #6bff58}
.error {color: rgb(255, 83, 83)}

.playerControls {
  display: grid;
  grid-template-columns: 25px 25px auto 5rem;
  grid-column-gap: 10px;
  width: 100%;
  height: 100%;
}

input[type="button"] {
  background-color: rgb(128, 128, 128);
  border: none;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all .2s;
  font-size: 105%;
  box-shadow: none;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

input[type="button"]:hover {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.play {background-image: url("../img/play.svg") !important;}
.pause {background-image: url("../img/pause.svg") !important;}

.volume {background-image: url("../img/volume.svg");}
.muted {background-image: url("../img/mute.svg");}

#volume {
  height: 0px;
  opacity: 0;
  width: 25px;
  -webkit-appearance: slider-vertical;
  position: absolute;
  bottom: 35px;
  transition: all .15s;
  transition-delay: 1s;
}

 #volume:hover {
  height: 125px;
  opacity: 1;
  transition-delay: 0s;
}

#mute:hover + #volume {
  height: 125px;
  opacity: 1;
  transition-delay: 0s;
}