body {
  margin: 0;
}

.checkboxes p {
  display: inline;
  margin-right: 1rem !important;
}

.option {
  margin-top: 1rem;
}

#output {
  word-wrap: break-word;
  font-size: 1.25rem;
  font-family: monospace;
}

#presetName {
  padding: .25rem;
}

#characters {
  white-space: nowrap;
  overflow: auto;
}

#characters:hover {
  white-space: normal;
  word-wrap: break-word;
}
